body {
  margin: 0;
  font-family:
    lato,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Helvetica Neue",
    sans-serif;
  background-color: #e43d80;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
